{{ form_start(form) }}
    {{ form_widget(form) }}
        {{ form_row(form.comment) }}
        {{ form_row(form.rate) }}
    <button class="btn btn-baseRed">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
