{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block content %}

    {{ form_start(form) }}
        {{ form_row(form.searchField) }}
        <button class="btn btn-baseRed" type="submit" name="btnSearch">Rechercher</button>
    {{ form_end(form) }}

    <h1>Toutes les séries de la table program : </h1>
    {% for program in programs %}
        <div>
            <a href="{{ path('wild_show', {'slug': program.title|lower|replace({" ": "-"}) }) }}">
                <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
            </a>
            <p>{{ program.synopsis }}</p>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}